<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Picnic Spot</h1>
    <div class="col-6  offset-3">
        <form action="/picnic_ground/<%=catch_id._id%>/?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="picnic[title]" value="<%=catch_id.title%>" required> 
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="picnic[location]" value="<%=catch_id.location%>" required> 
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" name="picnic[price]" value="<%=catch_id.price%>" placeholder="0.00" aria-label="price"
                    aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="picnic[description]" required> <%=catch_id.description%> </textarea> 
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <div class="mb-3">
            <label for="image" class="form-label custom-file">Upload Images</label>
            <input class="form-control" type="file" id="image" name="image" multiple>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Update Picnic Ground</button>
            </div>
            <div>
                <a href="/picnic_ground">All campground</a>
            </div>
            
        </form>
    </div>
</div>