<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6">
        <div class="card mb-3" style="width: 34rem">
            <img src="<%= catch_id.image %> " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=catch_id.title%></h5>
              <p class="card-text"><%= catch_id.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= catch_id.location %></li>
              <li class="list-group-item">Submitted by : <%= catch_id.author.username %></li>
              <li class="list-group-item">$<%= catch_id.price %>/day</li>
            </ul>
            <!-- This is for hiding edit and delete button -->
            <!-- 1st condition  (catch_id.author and current user) must be equal.. -->
            <!-- 2nd condition  (curent user should exist) -->
            <% if(currentUser && catch_id.author.equals(currentUser._id)) {%> 
              <!-- currentUser middleware main pehle hi krr diye hai dekh lenaa... -->
            <div class="card-body">
              <a class="card-link btn btn-info" href="/picnic_ground/<%=catch_id._id%>/edit">Editing</a>
              <form class="card-link btn btn-red" method="POST" action="/picnic_ground/<%=catch_id._id%>?_method=DELETE">
                <button>Delete</button>
              </form>
            </div>
            <% } %> 
            <div class="card-footer text-muted">
                 2 days ago
                 <a href="/picnic_ground">Show All campground</a>
            </div>
          </div>
                
    </div>

    <div class="col-6">
      <!-- If curent user.. is present , then only allowing him to review.. -->
      <% if(currentUser) { %> 
      <h2>Leave a review</h2>
          <form action="/picnic_ground/<%= catch_id._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
              <label class="form-label" for="rating">Rating</label>
              <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <!-- rating naam diyaa hun review.js main -->
              <div class="mb-3">
                  <label class="form-label" for="body">Review</label>
                  <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                  <div class="valid-feedback">
                      Look Good!
                  </div>
              </div>            
              <!-- body naam diyaa hu... review.js main -->
              <button class="btn btn-success">Submit</button>
          </form>
          <% } %> 
          <% for(let rev of catch_id.reviews){ %> 
            <div class="mb-3 card">
            <div class="card-body">
              <h5 class="card-title">Rating : <%= rev.rating %></h5>
              <h6 class="card-subtitle mb-2 text-muted">By : <%= rev.author.username %> </h6>
              <p class="card-text"><%= rev.body %></p>              
                 <!--It will display everything that rev variable contains .body is a field inside model  -->
                 <% if(currentUser && rev.author.equals(currentUser._id)) {%>
                 <form action="/picnic_ground/<%= catch_id._id %>/reviews/<%= rev._id %>?_method=DELETE" method="post"> 
              <!-- rev se hii review ki id aa rhi -->
                <button class="btn btm-sm btn-danger">Delete</button>
                 </form>
                 <% } %>

            </div>
          </div>
          <% } %> 
    </div>
</div>

<!-- <p>
    Jab delete route prr click krre to ye hogaa 
    <form action="/picnic_ground/<%=catch_id._id%>?_method=DELETE" method="POST">  
        <button>DELETE</button>
    </form>
</p> -->
<!-- catch_id is comming from app -->
